ldap {
  com.dtolabs.rundeck.jetty.jaas.JettyCachingLdapLoginModule required
  debug="{{ rundeck_ldap_debug }}"
  contextFactory="com.sun.jndi.ldap.LdapCtxFactory"
  providerUrl="{{ rundeck_ldap_url }}"
  bindDn="{{ rundeck_ldap_bind_user }}"
  bindPassword="{{ rundeck_ldap_bind_pass }}"
  authenticationMethod="simple"
  forceBindingLogin="{{ rundeck_ldap_bindinglogin }}"
  userBaseDn="{{ rundeck_ldap_user_dn }}"
  userRdnAttribute="{{ rundeck_ldap_user_rdn_attr }}"
  userIdAttribute="{{ rundeck_ldap_user_id_attr }}"
{% if not rundeck_ldap_bindinglogin %}
  userPasswordAttribute="{{ rundeck_ldap_user_pass_attr }}"
{% endif %}
  userObjectClass="{{ rundeck_ldap_user_filter }}"
  roleBaseDn="{{ rundeck_ldap_role_dn }}"
  roleNameAttribute="{{ rundeck_ldap_role_name_attr }}"
{% if rundeck_ldap_role_username_attr is defined and rundeck_ldap_role_username_attr != None %}
  roleUsernameMemberAttribute="{{ rundeck_ldap_role_username_attr }}"
{% else %}
  roleMemberAttribute="{{ rundeck_ldap_role_member_attr }}"
{% endif %}
  roleObjectClass="{{ rundeck_ldap_role_filter }}"
  cacheDurationMillis="300000"
  reportStatistics="true"
  supplementalRoles="user"
  cacheDurationMillis="300000"
  reportStatistics="true"
  timeoutRead="10000"
  timeoutConnect="20000"
  nestedGroups="{{ rundeck_ldap_netsted_groups }}";
};