crowd {
be.greenhand.jaas.jetty.CrowdLoginModule required
    applicationName="{{ rundeck_crowd_name }}"
    applicationPassword="{{ rundeck_crowd_pass }}"
    crowdServerUrl="{{ rundeck_crowd_url }}"
    httpMaxConnections="{{ rundeck_crowd_maxconn }}"
    httpTimeout="{{ rundeck_crowd_timeout }}"
    {%- if rundeck_crowd_proxy_host is defined -%}
    httpProxyHost="{{ rundeck_crowd_proxy_host }}"
    {% endif %}
    {%- if rundeck_crowd_proxy_port is defined -%}
    httpProxyPort="{{ rundeck_crowd_proxy_port }}"
    {% endif %}
    {%- if rundeck_crowd_proxy_username is defined -%}
    httpProxyUsername="{{ rundeck_crowd_proxy_username }}"
    {% endif %}
    {%- if rundeck_crowd_proxy_password is defined -%}
    httpProxyPassword="{{ rundeck_crowd_proxy_password }}"
    {% endif %}

    debug="{{ rundeck_crowd_debug }}";
};
